.mat-option.mat-active{
    background-color: red;
    color: #000;
}
.mat-button-wrapper{
    color: gray !important;
    font-size: 15px !important;
}
.mat-form-field{
    line-height: 0.3 !important;
}
input:-webkit-autofill
{
    -webkit-background-clip: text;
}